/*First Section*/
.header-container{
  background-color: #1F2937;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  flex: 1;
  color: #E5E7EB;
}
.logo{
  display: flex;
  gap: 6px;
  align-items: center;
  margin-left: 40px;
  font-size: 24px;
}
.logo img{
  border-radius: 10px;
}
.links,
a{
  display: flex;
  gap: 8px;
  margin-right: 40px;
  font-size: 18px;
  color: #E5E7EB;
}
ul{
  list-style: none;
}
a{
  text-decoration-line: none;
}
.header-text{
  display: flex ;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}
.text-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.main-text,
.secondary-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  flex: 1;

}
.main-text{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.secondary-text{
  font-size: 18px;
  color: #E5E7EB ;
}
.header-img{
  height: 200px;
  width: auto;
}
button{
  display: flex;
  flex-shrink: 0%;
  width: 80px;
  justify-content: start;
  align-items: flex-start;
  margin: 16px;
  margin-top: 0%;
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 8px;
}
/*First Section Ends Here*/
/*Second Section Starts Here*/
.second-container{
   display: flex;
}
.information-header{
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}
.second-list{
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: space-evenly;
  gap: 16px;
}
.info-img{
  height: 100px;
}
/*Second Section styles ends here*/
/*Third Section Begins here*/
.Quotes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}
.quotes-text{
  font-style: italic;
  font-size: 36px;
  font-weight: light;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.signout{
  align-self: flex-end;
}
/*Third Section styles End here*/
/*Fourth Section Begins Here*/
.fourth-container{
  display: flex;
  margin: 50px;
  background-color: #3882F6;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.cont-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #E5E7EB;
  gap: 0%;
  margin-top: 0%;
}
.cont-button{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center ;
  border-color: #F9FAF8;
}
#bold{
  font-weight: bold
}
#sec{
  display: flex;
  justify-content: center;
  margin-top: 0%;
  padding-left: 100px;
}
/*Fourth Section Ends*/
/*footer*/
.footer{
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: #F9FAF8;
}